<!DOCTYPE html>
<html>

<head>
    {% include "head.tpl" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js" integrity="sha256-FPJJt8nA+xL4RU6/gsriA8p8xAeLGatoyTjldvQKGdE=" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/dorentus/9385976/raw/dfd6b5b37d38d97510bb161ac049834ca998829b/ascii85.js"></script>
    {% set title = book['db']['title'] %}
    {% if 'publish_info' in book['fb2'] %}
        {% if book['fb2']['publish_info'] %}
            {% if 'bookName' in book['fb2']['publish_info'] %}
                {% if book['fb2']['publish_info']['bookName'] %}
                    {% set title = book['fb2']['publish_info']['bookName'] %}}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <h1>
            {{title}}
            {% if book['fb2']['sequenceName'] %}
                <small>
                    {{ book['fb2']['sequenceName'] }}
                    {% if book['fb2']['sequenceNum'] %}
                        <b>(№{{book['fb2']['sequenceNum']}})</b>
                    {% endif %}
                </small>
            {% elif book['db']['serie'] %}
                <small>
                    <a href="/serie/{{ book['db']['serie_id'] }}">{{ book['db']['serie'] }}</a> <b>(№{{ book['db']['serno'] }})</b>
                </small>
            {% endif %}
        </h1>

        {# Автор #}
        <h2>
            {% if book['fb2']['author'] %}
                {{book['fb2']['author']['lastname'] if book['fb2']['author']['lastname'] else ""}}
                {{book['fb2']['author']['firstname'] if book['fb2']['author']['firstname'] else ""}}
                {{book['fb2']['author']['middlename'] if book['fb2']['author']['middlename'] else ""}}
            {% else %}
                {{ book['db']['authors'].replace(',', ' ').replace(':', ', ').rstrip(', ') }}
            {% endif %}
        </h2>

        {# Обложка #}
        {% if book['fb2']['image'] %}
            <img id="cover" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
        {% endif %}

        {# Описание #}
        {% if book['fb2']['annotation'] %}
            <p><span class="lead">Описание: </span>{{ book['fb2']['annotation'] }}</p>
        {% endif %}

        {# Авторы из БД #}
        <p><span class="lead">Автор(ы): </span>
        {% for author in book['db']['authors'].split(':') %}
            {% if author %}
                <a href="/search?author={{author}}">{{author.replace(',', ' ').rstrip(' ')}}</a>, 
            {% endif %}
        {% endfor %}
        </p>

        {# Рейтинг #}
        {% if book['db']['rate'] != -1 %}
            <p><span class="lead">Рейтинг: </span>{{ book['db']['rate'] }} / 5</p>
        {% endif %}

        {# Жанры #}
        <p><span class="lead">Жанры: </span>
            {% for genre in book['db']['genres'].split(':') %}
                {% if genre %}
                    {{ genres_translation[genre] }}, 
                {% endif %}
            {% endfor %}
        </p>

        {# Язык #}
        {% if book['db']['lang'] != -1 %}
            <p><span class="lead">Язык: </span>{{ book['db']['lang'] }}</p>
        {% endif %}

        {# Ключевые слова #}
        {% if book['db']['keywords'] != -1 %}
            <p><span class="lead">Ключевые слова: </span>{{ book['db']['keywords'] }}</p>
        {% endif %}

        {# Скачать #}
        <p><a id="download" href="#{{ title }}.fb2.zip" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-download"></span> Скачать fb2 ({{ (book['db']['size'] | int) // 1024 }} Кб)</a></p>
    </div>
    <script type="text/javascript">
        {# Обложка #}
        {% if book['fb2']['image'] %}
            var cover = {{ book['fb2']['image']|tojson }};
            {% if book['fb2']['imageMime'] %}
                $('#cover').attr('src', "data:{{ book['fb2']['imageMime'] }};base64,{{ book['fb2']['image'] }}")
            {% else %}
                $('#cover').attr('src', "data:image/jpg;base64,{{ book['fb2']['image'] }}")
            {% endif %}
        {% endif %}
    </script>
    <script type="text/javascript">
        {# Скачать #}
        function b64toBlob(b64Data, contentType, sliceSize) {
            // https://stackoverflow.com/a/16245768
            contentType = contentType || '';
            sliceSize = sliceSize || 512;

            var byteCharacters = atob(b64Data);
            var byteArrays = [];

            for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                var slice = byteCharacters.slice(offset, offset + sliceSize);

                var byteNumbers = new Array(slice.length);
                for (var i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);
                }

                var byteArray = new Uint8Array(byteNumbers);

                byteArrays.push(byteArray);
            }

            var blob = new Blob(byteArrays, {type: contentType});
            return blob;
        }
        var book = "{{ book['fb2']['book'] }}";
        $('#download').click( function(event){
            event.preventDefault();
            saveAs(b64toBlob(book, 'application/x-zip-compressed-fb2'), "{{ title }}.fb2.zip");
        });
    </script>
    {% include "footer.tpl" %}
</body>

</html>
