<!DOCTYPE html>
<html>

<head>
    {% include "head.tpl" %}
    <title>Поиск книги</title>
</head>

<body>
    <div class="container">
        <h1>Поиск</h1>
        {% include "search.tpl" %}
        <div class="panel panel-info">
            <div class="panel-heading">
                Параметры поиска
            </div>
            <div class="panel-body">
                <table class="table">
                    {% for key, value in result['parameters'].items() %} {% if value %}
                        <tr>
                            <td class="col-md-2">{{ params_translation[key] }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endif %} {% endfor %}
                </table>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                Статистика поиска
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td class="col-md-2">Обработка</td>
                        <td>{{ result['time']['processing'] }} мс. </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Запрос к БД</td>
                        <td>{{ result['time']['sql'] }} мс. </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Всего</td>
                        <td>{{ result['time']['total'] }} мс. </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">Найдено книг</td>
                        <td>{{ result['result'] | length }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <h2>Результаты поиска</h2>
        {% with books=result['result'] %}
            {% include "listBooks.tpl" %}
        {% endwith %}
    </div>
    {% include "footer.tpl" %}
</body>

</html>
