<!DOCTYPE html>
<html>

<head>
    {% include "head.tpl" %}
    <title>Поиск книги</title>
</head>

<body>
    <div class="container">
        <h1>Поиск</h1>
        {% include "search.tpl" %}
        <div class="card">
            <div class="card-header">
                Параметры поиска
            </div>
            <div class="card-body">
                <table class="table">
                    {% for key, value in result['parameters'].items() %} {% if value %}
                        <tr>
                            <td>{{ params_translation.get(key, key) }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endif %} {% endfor %}
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Статистика поиска
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <td>Обработка</td>
                        <td>{{ result['time']['processing'] }} мс. </td>
                    </tr>
                    <tr>
                        <td>Запрос к БД</td>
                        <td>{{ result['time']['sql'] }} мс. </td>
                    </tr>
                    <tr>
                        <td>Всего</td>
                        <td>{{ result['time']['total'] }} мс. </td>
                    </tr>
                    <tr>
                        <td>Найдено книг</td>
                        <td>{{ result['result'] | length }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <h2>Результаты поиска</h2>
        {% with books=result['result'] %}
            {% include "listBooks.tpl" %}
        {% endwith %}
    </div>
    {% include "footer.tpl" %}
</body>

</html>
